.idea
.vs
ReBalanced.sln.DotSettings.user
ReBalanced.sln.bak
src/ReBalanced.API/Properties
src/ReBalanced.API/ReBalanced.API.csproj.user
src/ReBalanced.API/appsettings.Development.json
src/ReBalanced.API/bin
src/ReBalanced.API/obj
src/ReBalanced.Application/bin
src/ReBalanced.Application/obj
src/ReBalanced.Domain/bin
src/ReBalanced.Domain/obj
src/ReBalanced.Infrastructure/appsettings.development.json
src/ReBalanced.Infrastructure/bin
src/ReBalanced.Infrastructure/obj
tests/ReBalanced.Application.Tests/RebalanceServiceTestPrivate.cs
tests/ReBalanced.Application.Tests/bin
tests/ReBalanced.Application.Tests/obj
tests/ReBalanced.Infrastructure.Tests/appsettings.development.json
tests/ReBalanced.Infrastructure.Tests/bin
tests/ReBalanced.Infrastructure.Tests/obj
